@import 'normalize.css';
@import 'fonts.css';
@import 'academicons.css';
@import 'fontawesome.css';

/* https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/github.min.css */
@import 'github.min.css';

@import 'atom-one-dark.css';

@import 'future-imperfect.css';


:root {
  --tile-width: 300px;
}



/* MAIN THEME OVERRIDES */ /* chexxx */

#site-nav .flyout-menu::-webkit-scrollbar {
  height: 0 !important; /* scrollbar in the nav looks like a mistake */
}

/* ensure lists-of-posts pages dont blow out main column width with "long words" in preview */
#posts .post .content {
  /* this seems to work v. nicely in modern firefox, chrome, safari, iOS */
  word-break: initial;    /* first, try to break up *in between* words if we gonna overflow... (this needed for firefox, since will toss next line) */
  word-break: break-word; /* first, try to break up *in between* words if we gonna overflow... (works better in chrome) */
  word-wrap:  break-word; /* ... and if still overflowing, *then* split indiv. words up ... */
  -webkit-hyphens: auto;  /* safari, you just rock! (and copy/paste works nicely too!) */
  -moz-hyphens: auto;
  hyphens: auto;
}


/* bug fix for mobile width and 2 wider than avg titles */
.pagination {
  max-width: 100vw;
}
@media (min-width: 1024px) {
  .pagination {
    max-width: 60vw;
  }
}



/* https://codepen.io/burtclan/pen/mLqxC */
a.image.featured {
  box-shadow: inset 0 0 10px 5px;
  position: relative;
  color: #666; /*xxx*/
  padding-bottom: 0; /* override 33% from future imperfect 2022 update */
}
.mini-post a.image.featured {
  /* these magic missing pieces poached from default theme's `.post` class rules */
  border: 0;
  display: block;
}
a.image.featured:before {
  content: "";
  display: block;
  padding-bottom: calc(100% / 2.35); /* enforce a styley 2.35:1 cinematic aspect ratio */
}
a.image.featured:after {
  /* gray blur on edges */
  box-shadow: inset 0 0 10px 5px;
  content: "";
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
a.image.featured img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
a.image.featured.featured-top img {
  object-position: top;
}
a.image.featured.featured-bottom img {
  object-position: bottom;
}

/* OK now when we're showing a full single post, let the image height be fully natural */
/* ie: reverse our customizations above.  Also don't do the edge blurring. */
.post.single a.image.featured {
  box-shadow: none;
  height: auto;
}
.post.single a.image.featured img {
  position: relative;
}
.post.single a.image.featured:after, .post.single a.image.featured:before {
  display: none;
}



/* DARK MODE! */
@media (prefers-color-scheme: dark) {
  body,
  #site-header,
  #site-header .flyout-menu,
  #site-nav-menu,
  article.mini-post header,
  .content table,
  .button {
    color: #ddd;
    background-color: #111;
  }
  .content table th, .content table tr:nth-child(even) {
    color: #ddd;
    background-color: #222;
  }
  .content table tbody tr td {
    background-color: transparent;
  }

  article.post,
  article .post,
  article.mini-post,
  article.comment header {
    color: #ddd;
    background-color: #222;
  }
  h1, h2, h3, h4, h5, h6,
  .pagination a,
  .asciiover pre,
  #comment-form input,
  #comment-form textarea,
  #contact input,
  #contact textarea {
      color: #ddd;
  }
  img {
    filter: grayscale(50%);
  }
}


/* DARK MODE revert! (enabled by JS preference check + localtime..) */
body.lite,
body.lite #site-header,
body.lite #site-header .flyout-menu,
body.lite #site-nav-menu,
body.lite article.mini-post header,
body.lite .button {
  color: #333;
  background-color: #f4f4f4;
}
body.lite article.post,
body.lite article .post,
body.lite article.comment header,
body.lite article.mini-post {
  color: #333;
  background-color: #fff;
}
body.lite h1,
body.lite h2,
body.lite h3,
body.lite h4,
body.lite h5,
body.lite h6,
body.lite .pagination a,
body.lite .asciiover pre,
body.lite #comment-form input,
body.lite #comment-form textarea,
body.lite #contact input,
body.lite #contact textarea {
  color: #333;
}
body.lite img {
  filter: grayscale(0%);
}
