/* DARK MODE! */

body.dark,
body.dark #site-header,
body.dark #site-header .flyout-menu,
body.dark #site-nav-menu,
body.dark article.mini-post header,
body.dark .content table,
body.dark .button {
  color: #ddd;
  background-color: #111;
}
body.dark .content table th,
body.dark .content table tr:nth-child(even) {
  color: #ddd;
  background-color: #222;
}
body.dark .content table tbody tr td {
  background-color: transparent;
}

body.dark article.post,
body.dark article .post,
body.dark article.mini-post,
body.dark article.comment header {
  color: #ddd;
  background-color: #222;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark .pagination a,
body.dark .asciiover pre,
body.dark #comment-form input,
body.dark #comment-form textarea,
body.dark #contact input,
body.dark #contact textarea {
  color: #ddd;
}
body.dark img {
  filter: grayscale(50%);
}

body.dark a {
  color: inherit;
}
